$shadow: #eeeeee;


@mixin shadowBox {
    box-shadow: 20px 20px 40px $shadow,
                        -20px -20px 40px $shadow,
                        -20px 20px 40px $shadow,
                        20px -20px 40px $shadow;
}

@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    // text-align: center;
}