@import './functions';

.detail{
    margin-top: 70px;
    // min-height: 150px;

    .heading{
        @include flexCenter();
        h2{
            font-weight: bold;
        }
    }

    .detaillinks{
        color: gray;

        .btnLinks{
            .colBtnLinks{
                display:flex;
                & > *{
                    width:100%;
                }
            }
        }
    }
}