.iconLinks{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;

    a {
        background: transparent;
        border-radius: 50%;
        box-shadow: 8px 8px 10px #ededed ;
        transition:0.5s;

        &:hover{
            transition:0.5s;
            transform: scale(1.1);
        }
    }
}