@import './functions';

#topbar{
    padding-top: 10px;
//  position: fixed;
 z-index: 1;
 width: 100%;
}

.title{
    padding: 10px;
    text-align: center;
    img{
        height:67px;
        width:240px;
    }
}

.navlinks{
    padding: 10px;
    @include flexCenter();
}


ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-weight: bold;
}


li {
    display: inline-block;
    a{
        color: black;
        font-size: 14px;
        transition: 0.5s;
        text-decoration: none;

        &:hover{
            text-decoration: none;
            transition: 0.5s;
            font-size: 16px;
        }
    }
}