@import './functions';

.skills{
    margin-top: 100px;

    h3{
        font-weight: bold;
    }
    

    .skillrow{
    // @include flexCenter();
       width: auto;
       height: 100%;
       display: flex;
       margin:auto;
       justify-content: space-evenly;
       text-align: center;

       .skillcard{

            @include shadowBox();
           border:none;
           padding-top:0;
           margin-top: 30px;
           & > *{
            padding-top:0;
            margin-top: 0;
           }
       }

    }

}